.articleIntro {
  justify-content: space-between;
  margin-top: 1em;
}

.share {
  text-align: right;
  align-self: center;
}

.share * {
  cursor: pointer;
  margin-bottom: 5px;
}

.divider {
  margin-top: .3em;
  margin-bottom: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .articleIntro {
    flex-direction: column;
  }
  .share {
    align-self: flex-start;
  }
}
