.aboutGeneral{
  font-family: "Roboto", sans-serif;
}

.aboutTitles{
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
}

.aboutCard {
  border-radius: 50px 0 50px 0;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.rowLeft{
  justify-content: left;
  margin-bottom: 1.5em;
}


.rowRight{
  justify-content: end;
  margin-bottom: 1.5em;
}

@media screen and (max-width:767px){
  .videoSize{
      max-height: 200px;
      }
  }