.content {
  justify-content: center;
  margin-top: 1.5em;
}

.share{
  text-align: right;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.065em;
}

.titles {
  font-family: "Raleway", sans-serif;
}

.abstract {
  justify-content: center;
}

.articleIntro{
  justify-content: space-between;
  margin-top: 1em;
}

.publishDate {
  text-align: right;
  font-family: "Roboto", sans-serif;
}

.line {
  background-image: linear-gradient(90deg, #1da1f2, #f5f5f5);
  border: 0;
  height: 1px;
}

.text a{
  word-wrap: break-word;
 }

 
@media screen and (max-width: 767px) {
  .articleIntro {
    flex-direction: column;
  }
  .share{
    text-align: left;
  }
}
